<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3>Agenda Electrónica</h3>
  <p>Aplicación diseñada para la asignatura
    DSI que permite prganizar tareas pendientes
    y contactos.
  </p>
  <p>
    La aplicación está realizada utilizando Ionic Framework.
  </p>
  <br>  
  <h4>Tu nombre</h4>
  <ion-item>
    <ion-icon name="logo-github"></ion-icon>
    <a href="">Tu githug</a>
  </ion-item>
  <ion-item>
      <ion-icon name="logo-twitter"></ion-icon>
      <a href="">Tu twitter</a>
  </ion-item>

</ion-content>
